* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #000044;
    color: #ffffcc;
    box-sizing: border-box;
    font-family: 'Lobster', cursive;
}

button:hover {
    opacity: .6;
}

ul {
    list-style-type: none;
}

.submitButton:hover {
    opacity: .6;
}
/* 
.fade-enter {
    opacity: 0;
}

.fade-enter-active {
    opacity: 1;
    transition: opacity 1000ms linear;
} */

.fadein {
    animation: add-animation 2s;
}

li.add {
    animation: add-animation .3s;
}


@keyframes add-animation {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

li.drop {
    animation: drop-animation .2s;
}


@keyframes drop-animation {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}